<html>
<body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1542020282741315',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
    	 function apprequest(){
    	 	FB.ui({method: 'apprequests',
		      message: 'hello2'
		    }, function(response){
		        console.log(response);
		    });
    	 }
    	 function reasking(){
    	 	FB.login(
			  function(response) {
			    console.log(response);
			  },
			  {
			    scope: 'email,public_profile',
			    auth_type: 'rerequest'
			  }
			);	
    	 }

    	function login() {
      	 	FB.login(
  			  function(response) {
  			    console.log(response);
  			  },
  			  {
  			    scope: 'user_likes',
  			    // auth_type: 'rerequest'
  			  }
  			);
    	};

      function giftcard() {
        FB.ui({
              method: 'pay',
              action: 'redeem',
              request_id: 'sra9sd3zd8em' //Optional, unique per transaction
            },
            function (response){
              console.log(response);
            }
        );  

      }
    </script>


Canvas, Canvas, Canvas!
<h1>Login & Permission</h1>
<a href="#" onclick="login();">login for user_likes</a><br>
<a href="#" onclick="reasking();">permission re-asking email</a><br>
<a href="/canvas_login.html">login dialog fallback</a><br>
<h1>Graph API</h1>
<a href="#" onclick="me();">Me</a><br>
<a href="#" onclick="giftcard();">Payment - Gift card</a><br>
<h1>Game Request</h1>
<a href="#" onclick="apprequest();">apprequest</a><br>
<h1>Redirection Test</h1>
<a href="http://google.com">Google</a><br>
<a href="/unity/smash.html">Unity Web Player in my domain</a><br>
<a href="http://smashsample.parseapp.com/smash/smash.html">Unity Web Player outside my domain</a>
<br><br>
</body>
</html>