<html>
<head>
<meta charset="utf-8">
<title>Casino</title>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>

<script type="text/javascript">
var trial = 0;
$(document).ready(function() {
  function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
  }

  function appevent_canvas_login(success, trial, fb_source) {
    var params = {};
    params['trial'] = trial;
    params[FB.AppEvents.ParameterNames.SUCCESS] = success;
    if (fb_source){
      params['fb_source'] = fb_source;
    }
    
    FB.AppEvents.logEvent(
      "CanvasLogin",
      null,
      params
    );
  }

  var fb_source = getParameterByName('fb_source'); // organic vs. paid
  var destination = "/canvas"; 

  function login_dialog(){
    trial = trial + 1;
    FB.login(
      function(response) {
        if(response.authResponse) {
          appevent_canvas_login(1,trial, fb_source);
          location.href = destination;
        } else {
          appevent_canvas_login(0,trial, fb_source);
          // TODO: do nothing or send to App Center/fan page
        }
      }, 
      {
        scope: "public_profile,user_friends"
      }
    );
  }  

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1523333124610031',
      xfbml      : true,
      version    : 'v2.3'
    });

    FB.AppEvents.activateApp();
    FB.getLoginStatus(function(response) {
      if (response.authResponse){
        window.location.href = destination;
      } else {
        
        // login_dialog();
        document.getElementById("content").onclick = function() {
          login_dialog();
        };
      }
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
});
  
</script>

<div id="content" style="background-image: url(http://upload.wikimedia.org/wikipedia/commons/e/e7/Las_Vegas_89.jpg); background-size: 100%; width: 100%; height: 100%; text-align: center; ">
  <button style="height:80px;width: 300px; margin: 200 auto; font-size: 40px;">
    Play NOW!
  </button>
</div>

</body>
</html>
