<html>
<body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1523333124610031',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
    	 function apprequest(){
    	 	FB.ui({method: 'apprequests',
		      message: 'hello2'
		    }, function(response){
		        console.log(response);
		    });
    	 }
    	 function reasking(){
    	 	FB.login(
			  function(response) {
			    console.log(response);
			  },
			  {
			    scope: 'email,public_profile,publish_action',
			    auth_type: 'rerequest'
			  }
			);	
    	 }

    	function login() {
      	 	FB.login(
  			  function(response) {
  			    console.log(response);
  			  },
  			  {
  			    scope: 'user_likes,publish_action',
  			    // auth_type: 'rerequest'
  			  }
  			);
    	};

      function giftcard() {
        FB.ui({
              method: 'pay',
              action: 'redeem',
              request_id: 'sra93zd8em' //Optional, unique per transaction
            },
            function (response){
              console.log(response);
            }
        );  
      }

      // app events
      function appevents_launch() {
        FB.AppEvents.activateApp();
      }

      function appevents_tutorial(step){
        var params = {};
        params[FB.AppEvents.ParameterNames.ContentID] = step;
        FB.AppEvents.logEvent(
          FB.AppEvents.EventNames.COMPLETED_TUTORIAL,
          null, 
          params
        );
      }

      function appevents_level(level){
        var params = {};
        params[FB.AppEvents.ParameterNames.LEVEL] = level;
        FB.AppEvents.logEvent(
          FB.AppEvents.EventNames.ACHIEVED_LEVEL,
          null, 
          params
        );
      }

      function appevents_stage(stage){
        var params = {};
        params["stage"] = stage;
        params["age"] = 3;
        FB.AppEvents.logEvent(
          "Completed Stage",
          null, 
          params
        );
      }

      function share_feed_client() {
        FB.login(function(){

          FB.api('/me/feed', 'post', {
            message: 'Share from the client side!',
            // actions: {"name":"Get lucky points","link":"http://youminkim-test.parseapp.com/link_1200x630.html?ref=100"},
            
            link: 'https://apps.facebook.com/1523333124610031/',
            caption: 'caption?',
            name: 'name?',
            picture: 'https://cdn.plamee.com/files/cakestory/files/assets/social/post_icons/fb_600/levels/clearbacks.2.png',
            description: 'description?',
          }, function (response){
                console.log(response);
          });
        }, {scope: 'publish_actions'});
      }


    </script>


Canvas, Canvas, Canvas!
<h1>Login & Permission</h1>
<a href="#" onclick="login();">login for user_likes</a><br>
<a href="#" onclick="reasking();">permission re-asking email, publish_action</a><br>
<a href="/canvas_login.html">login dialog fallback</a><br>
<h1>App Events</h1>
<a href="#" onclick="appevents_launch();">App Launch or Install</a><br>
<a href="#" onclick="appevents_tutorial(1);">Completed Tutorial 1</a><br>
<a href="#" onclick="appevents_tutorial(2);">Completed Tutorial 2</a><br>
<a href="#" onclick="appevents_tutorial(3);">Completed Tutorial 3</a><br>
<a href="#" onclick="appevents_level(1);">Acheived Player Level 1</a><br>
<a href="#" onclick="appevents_level(2);">Acheived Player Level 2</a><br>
<a href="#" onclick="appevents_stage(1);">Acheived Stage Level 1</a><br>
<a href="#" onclick="appevents_stage(2);">Acheived Stage Level 2</a><br>

<h1>Graph API</h1>
<a href="#" onclick="me();">Me</a><br>
<a href="#" onclick="giftcard();">Payment - Gift card</a><br>
<a href="#" onclick="share_feed_client();">Share from client side</a><br>
<h1>Game Request</h1>
<a href="#" onclick="apprequest();">apprequest</a><br>
<h1>Redirection Test</h1>
<a href="http://google.com">Google</a><br>
<a href="/unity/smash.html">Unity Web Player in my domain</a><br>
<a href="http://smashsample.parseapp.com/smash/smash.html">Unity Web Player outside my domain</a>
<br><br>
</body>
</html>