<!DOCTYPE html>
<html>
 <head prefix=
    "og: http://ogp.me/ns# 
     fb: http://ogp.me/ns/fb# 
     product: http://ogp.me/ns/product#">
    <meta property="og:type"                   content="og:product" />
    <meta property="og:title"                  content="<%= title %>" />
    <meta property="og:plural_title"           content="<%= title_plural %>" />
    <meta property="og:image"                  content="<%= image %>" />
    <meta property="og:description"            content="<%= desc %>" />
    <meta property="og:url"                    content="<%= url %>" />
    <meta property="product:price:amount"      content="<%= amount %>"/>
    <meta property="product:price:currency"    content="USD"/>
 </head>
</html>
