<ol>
	<li><a href="/web.html">Web</a></li>
	<li><a href="/canvas">Canvas</a></li>
	<li><a href="/canvas_login">Canvas Login Landing Page</a></li>
	<li><a href="/login_manual">Canvas Manual Login</a></li>
	<li>
		<a href="/unity">Unity WebGL/Webplayer redirection</a><br>
		<a href="/unity/webgl">Unity WebGL</a><br>
		<a href="/unity/webplayer/webplayer.html">Unity Webplayer</a>
	</li>
	
</ol