<!-- Facebook Conversion Code for registration -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6023477020098', {'value':'0.01','currency':'USD'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6023477020098&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

<h1>Thanks! Please do tutorials</h1>
<a href="completed_tutorial.html">Complete Tutorials</a>

